* {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
}

@font-face {
  font-family: "TTLakesCompressed-Black";
  src: url("/font/TTLakesCompressed-Black.ttf");
}

@font-face {
  font-family: "TTLakesCompressed-Medium";
  src: url("/font/TTLakes-Medium.ttf");
}

@font-face {
  font-family: "TTLakesCompressed-Bold";
  src: url("/font/TTLakesCondensed-Bold.ttf");
}

.main-first__link {
  border-radius: 6px;
  box-sizing: content-box;
   
  background: #fff;
  padding: 8px 9px 8px 16px;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;
    text-decoration: none;
    color: #7e7e82;
    font-size: 16px;
    font-family: "TTLakesCompressed-Medium";
}

.header {
  border-bottom: 1px solid #D9FFF5;;
}



@media screen and (min-width: 0px) and (max-width: 767px) {


  .wrapper {
    width: 100%;
  }

  .header-left__separator,
  .header-info__right,
  .header-repair__right > span,
  .header-chekstatus__right > span,
  .header-right__separator,
  .main-status__server,
  .main-text__description {
    display: none;
  }

  .header,
  .header__left,
  .header__right {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .header-burger__left > img {
    width: 40px;
    height: 40px;
    padding: 24px 20px 24px 24px;
  }

  .header-logo__left > img {
    padding: 18px 0px;
    padding-right: 16px;
  }

  .header > span {
    font-size: 36px;
    border-radius: 1px;
    color: #eaeaea;
    padding-right: 20px;
  }

  .header-repair__right > img {
    padding: 24px 16px 24px 0px;
  }

  .header-chekstatus__right > img {
    padding: 24px 16px 24px 0px;
  }

  /* main */
  .main {
    background: #f8f8f8;
    height: 100vh;
  }

  .main__services {
    display: flex;
    align-items: center;
  }
  .main__services > img {
    padding-top: 24px;
  }
  .main__services > h1 {
    padding-top: 24px;
    padding-left: 12px;
    font-family: "TTLakesCompressed-Bold";
    font-size: 28px;
  }

  .main__link {
    display: flex;
    align-items: center;
    white-space: pre;
    overflow-x: auto;
    /* position: relative; */
    z-index: 0;
  }
  .main__link a {
   margin-top: 32px;
   margin-bottom: 32px;
   margin-left: 16px;
   padding: 8px 9px 8px 16px;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;
    text-decoration: none;
    color: #7e7e82;
    font-size: 16px;
    font-family: "TTLakesCompressed-Medium";
  }
  .main__link div {
    height: 20px;
    width: 20px;
    position: fixed;
    background: #f8f8f8;
    opacity: 0.7;
    right: 0;
    z-index: 1;
  }

  .main__description article div:first-child {
    padding-left: 16px;
    font-size: 14px;
    width: 85%;
    font-family: "TTLakesCompressed-Medium";
  }
  .main__description > img {
   width: 100%;
    position: absolute;
    padding-top: 150px;
  }

  .main_read {
    display: flex;
    padding: 16px;
  }
  .main_read > h3 {
    margin-left: 8px;
    font-size: 16px;
    font-family: "TTLakesCompressed-Medium";
    font-weight: 500;
  }
}

@media screen and (min-width: 768px) and (max-width: 1119px) {
  .header-repair__right > span,
  .header-chekstatus__right > span,
  .header > span,
  .main-status__server,
  .main-text__description > p span {
    display: none;
  }

  .header,
  .header__left,
  .header__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-burger__left {
    display: flex;
  }
  .header-burger__left > img {
    width: 40px;
    height: 40px;
    padding: 24px 20px 24px 24px;
  }

  .header-logo__left > img {
    padding: 18px 0px;
    padding-right: 16px;
  }

  .header-left__separator {
    font-size: 36px;
    border-radius: 1px;
    color: #eaeaea;
    padding-right: 20px;
  }

  .header-right__separator {
    font-size: 36px;
    border-radius: 1px;
    color: #eaeaea;
    padding-right: 20px;
    padding-left: 20px;
  }

  .header-info__right {
    display: flex;
    align-items: center;
  }
  .header-info__right img {
    margin-left: 16px;
  }

  .header-repair__right > img {
    padding: 24px 16px 24px 0px;
  }

  .header-chekstatus__right > img {
    padding: 24px 40px 24px 0px;
  }

  /* main */
  .main {
    background: #f8f8f8;
    height: 100vh;
  }

  .main__services {
    display: flex;
    align-items: center;
  }
  .main__services > img {
    padding-top: 24px;
  }
  .main__services > h1 {
    padding-top: 24px;
    padding-left: 20px;
    font-family: "TTLakesCompressed-Bold";
    font-size: 28px;
  }

  .main__link {
    display: flex;
    align-items: center;
    white-space: pre;
    overflow-x: auto;
    z-index: 0;
  }
  .main__link a {
   margin-top: 32px;
   margin-bottom: 32px;
   margin-left: 24px;
   padding: 8px 9px 8px 16px;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;
    text-decoration: none;
    /* display: none; */
    color: #7e7e82;
    font-size: 16px;
    font-family: "TTLakesCompressed-Medium";
  }

  .main__link a:last-child {
   margin-right: 80px;
 
  }

  .main__link div {
    height: 20px;
    width: 20px;
    position: fixed;
    background: #f8f8f8;
    opacity: 0.7;
    right: 0;
    z-index: 1;
  }

  .main__description article div:first-child {
    padding-left: 24px;
    font-size: 14px;
    width: 310px;
    font-family: "TTLakesCompressed-Medium";
  }

  .main-text__description > p {
    padding-left: 24px;
    padding-top: 16px;
    font-size: 14px;
    width: 310px;
    font-family: "TTLakesCompressed-Medium";
  }

  .main__description > img {
    float: right;
    padding-right: 40px;
    height: 200px;
    position: absolute;
    padding-left: 49%;
  }

  .main_read {
    display: flex;
    padding: 10px;
  }
  .main_read > h3 {
    margin-left: 8px;
    font-size: 16px;
    font-family: "TTLakesCompressed-Medium";
    font-weight: 500;
  }
}

@media screen and (min-width: 1120px) and (max-width: 1920px) {
 
  body {
    display: flex;
   }

  header {
    display: none;
  }

   .wrapper {
    width: 100%;
   }

  .header,
  .header__left,
  .header__right {
    display: none;
    align-items: center;
    justify-content: space-between;
  }

  .header-burger__left {
    display: flex;
  }
  .header-burger__left > img {
    width: 40px;
    height: 40px;
    padding: 24px 16px;
  }

  .header-logo__left > img {
    padding: 24px 0px;
    padding-right: 16px;
  }

  .header-left__separator {
    font-size: 36px;
    border-radius: 1px;
    color: #eaeaea;
    padding-right: 20px;
  }

  .main-status__server div > span {
    font-family: "TTLakesCompressed-Medium";
    font-size: 16px;
  }

  .header-right__separator {
    font-size: 36px;
    border-radius: 1px;
    color: #eaeaea;
    padding-right: 20px;
    padding-left: 20px;
  }

  .header-info__right {
    display: flex;
    align-items: center;
  }
  .header-info__right img {
    margin-left: 16px;
  }

  .header-repair__right > img {
    padding: 24px 16px 24px 0px;
  }

  .header-chekstatus__right > img {
    padding: 24px 40px 24px 0px;
  }

  /* main */
  .main {
    background: #f8f8f8;
    height: 100vh;
  }

  .main__serves {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main__services {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main__services > img {
    padding-top: 42px;
  }
  .main__services > h1 {
    padding-top: 42px;
    padding-left: 30px;
    font-family: "TTLakesCompressed-Bold";
    font-size: 28px;
  }

  .main-status__server {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-status__server div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-status__server div > img {
    padding-top: 42px;
    padding-right: 32px;
  }

  .main-status__server div > span {
    padding-top: 42px;
    padding-right: 8px;
  }

  .main__link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    white-space: pre;
    overflow-x: auto;
    /* position: relative; */
    z-index: 0;
    margin-left: 32px;
  }

  .main__link a {
    margin-top: 17px;
    margin-left: 8px;
    padding: 10px 16px;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;
    text-decoration: none;
    color: #7e7e82;
    font-size: 16px;
    font-family: "TTLakesCompressed-Medium";
  }

  .main__link a:last-child {
   margin-top: 17px;
   margin-bottom: 2px;
  }
  
  

  .main__link div {
    height: 20px;
    width: 20px;
    position: fixed;
    background: #f8f8f8;
    opacity: 0.7;
    right: 0;
    z-index: 1;
  }

  .main__description article div:first-child {
    padding-top: 20px;
    padding-left: 34px;
    font-size: 14px;
    width: 500px;
    font-family: "TTLakesCompressed-Medium";
  }

  .main-text__description > p {
    padding-left: 34px;
    padding-top: 16px;
    font-size: 14px;
    width: 510px;
    font-family: "TTLakesCompressed-Medium";
  }

  .main__description > img {
    float: right;
    padding-right: 28px;
    height: 290px;
  }

  .main_read {
    display: flex;
    padding: 13px 16px 0px 16px;
  }
  .main_read > h3 {
    margin-left: 8px;
    font-size: 16px;
    font-family: "TTLakesCompressed-Medium";
    font-weight: 500;
  }
}

.active {
  border-radius: 6px;
  box-sizing: content-box;
  outline: 2px solid #B8FFEC;
 
  background: #fff;
}

.noactive {
   background: #f8f8f8;;
}


/*Модальное окно */
@media screen and (min-height: 677px) and (max-height: 1119px) {
    
    body {
      overflow-y: hidden;
    }

    .header__modal {
      background: #FFF;
     box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.20), -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 222;
      height: 100vh;
      display: none;
    }
    
    .header-head__modal {
      display: flex;
      align-items: center ;
      padding: 17px 24px 6px 24px;
    }
    
    .header-head__modal > img {
      padding-left: 16px;
    }
    
    .header-head__modal > div {
      padding-left: 78px;
    } 
    



    .header__modal > ul {
      display: flex;
      flex-direction: column;
      height: 35%;
    }
      
    .header__modal > ul  li {
       display: flex;
      flex-direction: column;
      height: 20%;
    }
    
    .header__modal > ul  li a {
      font-size: 16px;
      padding: 2rem 0rem 0rem 1.5rem;
      text-decoration: none;
      list-style-type: none;
      color: #1B1C21;
      letter-spacing: -0.2px;
      font-family: "TTLakesCompressed-Medium";
      list-style-type: none;
    }
    
    .furst {
      color: #7E7E82;
      padding-top: 18px;
      /* height: 10%; */
    }
    
    .header__modal > ul img {
      display: inline-block;
      width: 4px;
      height: 32px;
      position: absolute;
      padding-top: 45px;
      clear: both;
    }
    
  



    .footer {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 60%;
    }


    
    .header-foot__modal {
      margin-left: 8px;
    }
    
    .header-foot__modal img {
      width: 40px;
      margin-left: 16px;
    }
    
    .header-mail__modal {
      margin-top: 16px;
      margin-left: 24px;
      color: #1B1C21;
      font-family: "TTLakesCompressed-Medium";
      font-size: 16px;
    }
    
    .header-phone__modal {
      margin-top: 12px;
      margin-left: 24px;
      font-size: 24px;
      color: #1B1C21;
      font-family: "TTLakesCompressed-Bold";
    }
    
    .header-lang__modal {
      margin-top: 40px;
      margin-bottom: 32px;
      margin-left: 24px;
    }
    
    
    .header-lang__modal button {
      border: none;
      background: white;
      margin-bottom: 20px;
      border: none;
    }

    .header-lang__modal button:first-child {
      color: #7E7E82;
    }
  
    }

@media screen and (min-height: 1120px) and (max-height: 1925px) {
    
      body {
        overflow-y: hidden;
        display: flex;
      }
  
  
      .header__modal {
        background: #FFF;
       box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.20), -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 222;
        height: 100vh;
        /* display: none; */
      }
      
      .header-head__modal {
        display: flex;
        align-items: center ;
        padding: 17px 24px 6px 24px;
      }
      
      .header-head__modal > img {
        padding-left: 16px;
      }
      
      .header-head__modal > div {
        padding-left: 78px;
      } 
      
  
  
  
      .header__modal > ul {
        display: flex;
        flex-direction: column;
        height: 35%;
      }
        
      .header__modal > ul  li {
         display: flex;
        flex-direction: column;
        /* height: 20%; */
      }
      
      .header__modal > ul  li a {
        font-size: 16px;
        padding: 28px 0rem 0rem 1.5rem;
        text-decoration: none;
        list-style-type: none;
        color: #1B1C21;
        letter-spacing: -0.2px;
        font-family: "TTLakesCompressed-Medium";
        list-style-type: none;
      }
      
      .furst {
        color: #7E7E82;
        padding-top: 18px;
        /* height: 10%; */
      }
      
      .header__modal > ul img {
        display: inline-block;
        width: 4px;
        height: 32px;
        position: absolute;
        padding-top: 45px;
        clear: both;
      }
      
    
  
  
  
      .footer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 20%;
      }
  
      .header-foot__modal {
        margin-left: 8px;
      }
      
      .header-foot__modal img {
        width: 40px;
        margin-left: 16px;
      }
      
      .header-mail__modal {
        margin-top: 16px;
        margin-left: 24px;
        color: #1B1C21;
        font-family: "TTLakesCompressed-Medium";
        font-size: 16px;
      }
      
      .header-phone__modal {
        margin-top: 12px;
        margin-left: 24px;
        font-size: 24px;
        color: #1B1C21;
        font-family: "TTLakesCompressed-Bold";
      }
      
      .header-lang__modal {
        margin-top: 40px;
        margin-bottom: 32px;
        margin-left: 24px;
      }
      
      
      .header-lang__modal button {
        border: none;
        background: white;
        margin-bottom: 20px;
        border: none;
      }
  
      .header-lang__modal button:first-child {
        color: #7E7E82;
      }
    
      }
  
 @media screen and (min-height: 0px) and (max-height: 676px) {
    
         body {
         overflow-y: hidden;
        } 
    
    
        .header__modal {
          background: #FFF;
         box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.20), -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
          position: absolute;
          top: 0;
          left: 0;
          z-index: 222;
          height: 100vh;
          display: none;
        }
        
        .header-head__modal {
          display: flex;
          align-items: center ;
          padding: 17px 24px 6px 24px;
        }
        
        .header-head__modal > img {
          padding-left: 16px;
        }
        
        .header-head__modal > div {
          padding-left: 78px;
        } 
        
    
    
    
        .header__modal > ul {
          display: flex;
          flex-direction: column;
          height: 35%;
        }
          
        .header__modal > ul  li {
           display: flex;
          flex-direction: column;
          height: 20%;
        }
        
        .header__modal > ul  li a {
          font-size: 16px;
          padding: 24px 0rem 0rem 1.5rem;
          text-decoration: none;
          list-style-type: none;
          color: #1B1C21;
          letter-spacing: -0.2px;
          font-family: "TTLakesCompressed-Medium";
          list-style-type: none;
        }
        
        .furst {
          color: #7E7E82;
          
          /* height: 10%; */
        }
        
        .header__modal > ul img {
          display: inline-block;
          width: 4px;
          height: 32px;
          position: absolute;
          padding-top: 45px;
          clear: both;
        }
        
      
    
    
    
        .footer {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          height: 60%;
        }
    
    
        
        .header-foot__modal {
          margin-left: 8px;
        }
        
        .header-foot__modal img {
          width: 40px;
          margin-left: 16px;
        }
        
        .header-mail__modal {
          margin-top: 16px;
          margin-left: 24px;
          color: #1B1C21;
          font-family: "TTLakesCompressed-Medium";
          font-size: 16px;
        }
        
        .header-phone__modal {
          margin-top: 12px;
          margin-left: 24px;
          font-size: 24px;
          color: #1B1C21;
          font-family: "TTLakesCompressed-Bold";
        }
        
        .header-lang__modal {
          margin-top: 40px;
          margin-bottom: 32px;
          margin-left: 24px;
        }
        
        
        .header-lang__modal button {
          border: none;
          background: white;
          margin-bottom: 20px;
          border: none;
        }
    
        .header-lang__modal button:first-child {
          color: #7E7E82;
        }
      
        }
    