@charset "UTF-8";
/* Ремонт техники различных брендов */
@media screen and (min-width: 0px) and (max-width: 767px) {
  .main__servicbrands {
    margin-top: 22px;
    /* border: 2px solid black; */
  }
  .main-devices, .down, .up {
    display: none;
  }
  .swiper-wrapper {
    margin-top: 16px;
    margin-left: 16px;
    position: relative;
    display: flex;
  }
  .swiper-wrapper > .slide {
    border-radius: 6px;
    border: 1px solid #EAEAEA;
    background: #FFF;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  .swiper-wrapper {
    padding-bottom: 36px;
  }
  .swiper-wrapper div img {
    padding-top: 20px;
    padding-left: 16px;
    padding-bottom: 20px;
    padding-right: 16px;
  }
  .blur {
    height: 75px;
    width: 20px;
    margin-top: 15px;
    position: absolute;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0) 100%);
    opacity: 0.8;
    right: 0;
    z-index: 222;
  }
  .main-heder__servicbrands {
    background: linear-gradient(90deg, #F8F8F8 1.39%, #FFF 100%);
    padding-top: 15px;
    padding-left: 32px;
    padding-bottom: 16px;
  }
  .main-heder__servicbrands h3 {
    color: #7E7E82;
    text-transform: uppercase;
    font-family: "TTLakesCompressed-Meduims";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1119px) {
  .main__servicbrands {
    margin-top: 22px;
    /* border: 2px solid black; */
  }
  .slider-container, .swiper-container, .swiper-wrapper {
    display: none;
  }
  .main-heder__servicbrands {
    background: linear-gradient(90deg, #F8F8F8 1.39%, #FFF 100%);
    padding-top: 15px;
    padding-left: 24px;
    padding-bottom: 16px;
  }
  .main-heder__servicbrands h3 {
    color: #7E7E82;
    text-transform: uppercase;
  }
  .main-devices {
    display: grid;
    grid-template-columns: 224px 224px 224px 224px;
    grid-column-gap: 24px;
    grid-row-gap: 16px;
    padding-left: 24px;
  }
  .main-devices > div {
    background: white;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 224px;
  }
  .main-devices > div:hover{
    background: rgb(202, 195, 195);
    cursor: pointer;
  }
  .lenovo, .apple, .samsung, .ViewSonic {
    margin-top: 16px;
  }
  .main-devices > .lenovo_two,
  .main-devices > .Samsung_two,
  .main-devices > .Apple_two {
    display: none;
  }
  .main-devices div img {
    padding: 20px 16px 20px 16px;
  }
  .down, .up {
    display: flex;
  }
  .down {
    margin-top: 32px;
  }
  .up {
    margin-top: 46px;
    display: none;
  }
}
@media screen and (min-width: 1120px) and (max-width: 2800px) {
  .main__servicbrands {
    margin-top: 22px;
    /* border: 2px solid black; */
  }
  .slider-container, .swiper-container, .swiper-wrapper {
    display: none;
  }
  .main-heder__servicbrands {
    background: linear-gradient(90deg, #F8F8F8 1.39%, #FFF 100%);
    padding-top: 15px;
    padding-left: 32px;
    padding-bottom: 16px;
  }
  .main-heder__servicbrands h3 {
    color: #7E7E82;
    text-transform: uppercase;
  }
  .main-devices {
    display: grid;
    grid-template-columns: 224px 224px 224px 224px;
    grid-column-gap: 32px;
    grid-row-gap: 16px;
    padding-left: 32px;
  }
  .main-devices div {
    background: white;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 224px;
  }
  .lenovo, .apple, .samsung, .ViewSonic {
    margin-top: 16px;
  }
  .main-devices > .lenovo_two,
  .main-devices > .Samsung_two,
  .main-devices > .Apple_two {
    display: none;
  }
  .main-devices div img {
    padding-top: 20px;
    padding-left: 16px;
    padding-bottom: 20px;
    padding-right: 16px;
  }
  .main-devices > div:hover{
    background: rgb(202, 195, 195);
    cursor: pointer;
  }
  .down, .up {
    display: flex;
  }
  .down {
    margin-top: 32px;
  }
  .up {
    margin-top: 46px;
    display: none;
  }
}/*# sourceMappingURL=repairBrands.css.map */